<img id="blue_map_welcome" src="/assets/blue_map_welcome.png">

<div class="pure-form pure-form-aligned">
<h1 id="review_title">Write a Review for <%= @item.name %></h1>

<div id="able_form" class="col-md-6" class="pure-form pure-form-aligned">
<%= form_for @location do |f| %>
	<div class="pure-control-group">
		<%= f.label "Accessibility Rating (1-10)" %>: 
		<%= f.text_field :rating, :size => 3 %>
	</div>
	<div class="pure-control-group">	
		<%= f.label "ramp"%>
		<%= f.select(:ramp, options_for_select(["Yes", "No"]), {:prompt => 'Is there a ramp?'}) %>
	</div>
	<div class="pure-control-group">
		<%= f.label "step" %>
		<%= f.select(:step, options_for_select(["Yes", "No"]), {:prompt => 'Are there steps?'})  %>
	</div>
	<div class="pure-control-group">
		<%= f.label "seating" %>
		<%= f.select(:seating, options_for_select(["Yes", "No"]), {:prompt => 'Is there wheelchair accessable seating?'}) %>
	</div>
	<div class="pure-control-group">
		<%= f.label "scooter" %>
		<%= f.select(:scooter, options_for_select(["Yes", "No"]), {:prompt => 'Scooter accessable?'}) %>
	<div class="pure-control-group">
		<%= f.label "comment" %>
		<%= f.text_area :comment, :rows => "5", :cols => "50" %>
	</div>
	<div class="pure-control-group">
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.submit "Submit Review", class: "button button-rounded button-flat-primary" %>
		<% end %>
	</div>	
		<%= link_to 'Back', locations_path %>
		

</div>
</div>

<div id="edit_page_description" class="col-md-6">
	<img id="business_image" src="<%= @item.image_url %>">
  	<h3 id="business_title"><%= @item.name %></h3>
  	<h5><%= @item.categories[0][0] %></h5>
  	<%= @item.location.display_address.join(', ') %>
  	<div id="rating_div">
  	<img id="rating_image" src="<%= @item.rating_img_url %>">
  	<%= @item.review_count %> reviews </br>
  	<a href="<%= @item.url %>">Visit Yelp Page</a></br> 
</div>


	
