
<img id="blue_map_locations" src="/assets/blue_map_welcome.png">

<p id="notice"><%= notice %></p>
<div id="location_titles">
    <h1>Locations</h1>
    <h4>Search by Name, Category or Address</h4>
</div>
<div class="form-group top_form search rounded" id="location_search">
<%= form_tag locations_path, method: :get do %>
    <ul>
        <li><%= text_field_tag 'search', nil, :placeholder =>'Search' %></li>
        <li id="submit"><%= button_tag"Seach Locations", class: "btn-img" %></li>
    <ul>
<% end %>
</div>
<div id="yelp_location_all">
<% @items.each do|item| 
  next unless item %>
  <div id='yelp_location'>
    <div class="col-md-3">
        <img src="<%= item[:image] %>"></br> 
    </div>
    <div class="col-md-6"> 
        <strong><%= item[:name] %></strong></br> 
        <%= item[:rating] %>
        <img src="<%= item[:rating_img] %>"><%= item[:review_count] %> reviews</br>
        <%= item[:address] %></br> 
        <%= item[:phone] %></br> 
        <a href="<%= item[:url] %>">Visit Yelp Page</a></br> 
    </div>
    <div id="create_entry_form">
        <%= form_for @location do |f| %>
        <%= f.hidden_field :yelp_id, :value => item[:id] %>
    </div>
        <div id="entry_button"><%= button_tag "Create Able Review", class: "button button-rounded button-flat-primary" %></div>
    
 </div></br>
<% end %>
<% end %>
</div>

<div id="map_left">
    <div class="col-md-5" id="map-canvas"></div>
</div>

<script type="text/javascript">

$(document).ready(function() {    

    var map;
    var options= {
        center: {
            lat: 40.7,
            lng: -74
        },
        zoom: 12,
        disableDefaultUI: true,
        scrollwheel: false,
        maxZoom: 20,
        minZoom: 5

    };


    var infowindow;
    window.initMap = function(){
        map = new google.maps.Map(document.getElementById('map-canvas'),options);

        // map.addListener('click',function(e){
        //     console.log(e);
        // });
    // for (var b in data){
    //     var business = data[b];
    //     var businessLocation = google.maps.LatLng(business.lat,business.lng)
    //     addMarker(map, business.name, location);
    // }

    // function addMarker(map, name, business) {  

        <% @items.each do |item| %>
           var marker = new google.maps.Marker({
                position: {
                    lat: <%= item[:latitude] %>,
                    lng: <%= item[:longitude] %>
                },
                map: map,
                title: "<%= item[:name] %>"
            });
           (function(marker){
                google.maps.event.addListener(marker, 'click', function(){
                    if (typeof infowindow != 'undefined') infowindow.close();
                    infowindow = new google.maps.InfoWindow({
                        content: "<%= item[:name]%>, <%= item[:address]%></br><img src='<%= item[:rating_img] %>'><%= item[:rating] %></br><a href='<%= item[:url] %>'>Visit Yelp Page</a>"

                    });
                    infowindow.open(map,marker);
                });
           })(marker);
        <% end %>
};

});

























//   $("#submit").click(function(event){
//     event.preventDefault();
//     var information = $("#info").val()
//     console.log(information)

//     var map
//     function initMap() {
//       $.ajax({
//         url:"/locations",
//         method: "GET",
//         dataType: "JSON",
//         success: function(data, success, xhr){
//           map = new google.maps.Map(document.getElementById('map'), {
//             center: {lat: data.region.center.latitude, lng: data.region.center.longitude},
//             zoom: 12
//           });
//           var dat = (data.businesses)
//           // console.log(dat)
//           var places = []
//           for(var i = 0; i<dat.length; i++){
//           // console.log(typeof dat[i].location.coordinate.latitude)
//           // console.log("name is " + dat[i].name +" location is "+ dat[i].location.coordinate.latitude +" "+ dat[i].location.coordinate.longitude)
//           places.push({name: dat[i].name, latitude: dat[i].location.coordinate.latitude, longitude: dat[i].location.coordinate.longitude});
//           // lat.push(dat[i].location.coordinate.longitude);
//           }
//           // console.log(places)
//           for(var i =0; i<places.length; i++){
//             var marker = new google.maps.Marker({
//               position: {lat: places[i].latitude, lng: places[i].longitude},
//               map: map,
//               title: places[i].name
//             });
//             marker.setMap(map)
//           }
//         },
//         error: function(xhr, data, error){
//           console.log("error is "+error);
//         }
//       });
//     }
//     google.maps.event.addDomListener(window, 'load', initMap());
//   })
// });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa7ny9GaTtPEURdR3q170JVN9IupQdVsY&callback=initMap"
    async defer></script>


