<!DOCTYPE html>
<html>
  <head>
    <title>Access-Able</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  <!--   <script src="https://code.jquery.com/jquery.js"></script> 
    <script src="/assets/locations.js"></script>
    <script src="/assets/buttons.js"></script>
    <link href="/assets/application.css" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/buttons.css">
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500i" rel="stylesheet"> -->
    <%= asset_path "http://code.jquery.com/jquery.js" %>
    <%= asset_path "locations", type: :javascript %>
    <%= asset_path "buttons", type: :javascript%>
    <%= asset_path "application", type: :stylesheet %>
    <%= asset_path "http://yui.yahooapis.com/pure/0.6.0/pure-min.css" %>
    <%= asset_path "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= asset_path "//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" %>
    <%= asset_path "buttons", type: :stylesheet %>
    <%= asset_path "http://fonts.googleapis.com/css?family=Knewave" %>
    <%= asset_path "http://fonts.googleapis.com/css?family=Roboto:500i" %>
  </head>

  <body>
  	
    
   <!--  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  	</head>
    <a href="/"><div id="logo">
      <h1 id="able">Able</h1>
      <h4 id="NYC">NYC</h4>
    </div></a>
    <% if user_signed_in? %>
      <div id="signed_in_buttons">
        <div id="my_profile_button" class="button button-rounded button-flat-primary"><%= link_to "MyProfile" %></div>
        <div id="sign_out_button" class="button button-rounded button-flat-primary"><%= link_to "SignOut",destroy_user_session_path, method: :delete %></div>
      </div>
     		<div id="navbar">
      			<div id="welcomeuser">
      				<ul>
 		     			   <span>Welcome, <%= current_user.username.capitalize %>!</span>
 		    		  </ul>
 	  			</div>
 	 		</div>
 	<% else %>
    <div id="signed_out_buttons">
        <div id="welcomeuser">
        <ul>
        <li id="login_button"><a href="/users/sign_in" class="button button-rounded button-flat-primary">Login</a></li>
        <li id="sign_up_button"><span class="button-dropdown" data-buttons="dropdown">
          <a href="#" class="button button-rounded button-flat-primary">Sign Up <i class="fa fa-caret-down"></i></a>
            <ul class="button-dropdown-menu-below">
              <li><a href="/users/auth/twitter">Twitter Signup</a></li>
              <li><a href="/users/auth/facebook">Facebook Signup</a></li>
              <li class="button-dropdown-divider"><a href="/users/sign_up">Email Signup</a></li>
            </ul>
        </span></li>
      </ul>
    </div>
    </div>
    </div>
 	  <div id="navbar">
    </div>
 	<% end %>
 	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
</body>

</html>
 

