<img id="blue_map_welcome" src="/assets/blue_map_welcome.png">

<div id="sign_up_form" class="pure-form pure-form-aligned">
<h2>Create an Able Accout</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="pure-control-group">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
</div>
<div class="pure-control-group">
    <%= f.label :dob %>
    <%= f.text_field :dob, autofocus: true %>
</div>
<div class="pure-control-group">
    <%= f.label :location %>
    <%= f.text_field :location, autofocus: true %>
</div>
<div class="pure-control-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
</div>

  <% if f.object.password_required? %>
<div class="pure-control-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="pure-control-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
  <% end %>
  <div class="actions" class="pure-control-group">
    <%= f.submit "Sign up", class: "button button-rounded button-flat-primary", class: "submit-form-button" %>
  </div>
  <%= render "users/shared/links" %>
<% end %>


</div>
